.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust height as needed */
  }
  
  .loader {
    width: 80px;
    height: 80px;
    border: 10px solid #f3f3f3; /* Border color */
    border-top: 10px solid #3498db; /* Top border color */
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader-inner {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #3498db; /* Left border color */
    border-right: 10px solid #3498db; /* Right border color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }